freezegun==1.5.1
pylint==3.3.1
pytest==8.3.3

# Install from github due to unmaintained project using pypi https://github.com/nhairs/python-json-logger/issues/1
python-json-logger @ https://github.com/nhairs/python-json-logger/releases/download/v3.1.0/python_json_logger-3.1.0-py3-none-any.whl
scrapy==2.11.2
scrapy-playwright==0.0.41
scrapyd==1.4.3
scrapyd-client==1.2.3
scrapyd_api==0.0.4
scrapydweb @ git+https://github.com/GSA/searchgov-scrapydweb
